<div class="page-header">
  <h3>User #<%= @user.id %></h3>
</div>


<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <% @user.photos.each do |photo| %>
      <dt>Image</dt>
      <dd><%= photo.image %></dd>
      <dt>Caption</dt>
      <dd><%= photo.caption %></dd>
    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/photos" class="btn btn-primary">
        Back
      </a>
      <a href="/photos/<%= photo.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_photo/<%= photo.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
<% end %>
  </div>
</div>
