<div class="page-header">
  <h1>
    My Likes
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Photo</th>
        <th>Actions</th>
      </tr>

      <% current_user.liked_photos.each do |photo| %>
      <td></td>
      <tr>
        <td>
          <img src="<%= photo.image %>">
          <p><%= photo.caption %></p>
        </td>
        <td>
          <a href="/likes/<%= photo.id %>" class="btn btn-primary">Show</a>
          <a href="/likes/<%= photo.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_like/<%= photo.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
