<div class="page-header">
  <div class="btn-group btn-group-justified" role="group" aria-label="...">
    <div class="btn-group" role="group">
      <a href="/photos/new" class="btn btn-lg btn-success"> + </a>
    </div>
  </div>

</div>

<% @photos.each do |photo| %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><a href="/users/<%= photo.user.id %>"><%= photo.user.username %></a></h3>
  </div>
  <div class="panel-body">
    <div><%= photo.image %></div>
    <div><%= photo.caption %></div>
    <i class="fa fa-heart" aria-hidden="true"></i>
    <% photo.likes.each do |like| %>
    <%= like.user.username %>
    <% end %>
    <% if photo.likes.count == 1 %>
    likes this
    <% elsif photo.likes.count > 1 %>
    like this
    <% end %>

    <div>
      <% if photo.user_id == current_user.id %>
      <td>
        <a href="/photos/<%= photo.id %>" class="btn btn-primary">Show</a>
        <a href="/photos/<%= photo.id %>/edit" class="btn btn-warning">Edit</a>
        <a href="/delete_photo/<%= photo.id %>" class="btn btn-danger" rel="nofollow">Delete</a>

      </div>
      <% end %>
    </tr>
  </div>
</div>
<% end %>
